<div class="container">
  <div class="row">
  <div class="card col mt-3 mr-2 text-center shadow p-3 mb-5 bg-white rounded" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @event.name %></h5>
      <p class="card-text"><%= @event.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Hosted by: <%= @event.creator.name %></li>
      <li class="list-group-item">At: <%= @event.location %></li>
      <li class="list-group-item">Date: <%= @event.date %></li>
    </ul>
    <div class="card-body">
      <a> <%= link_to 'Back to event list', root_path, class: "card-link mr-3" %></a>
      <a>
      <% if @event.attendees.include?(current_user) %>
        <%= link_to 'Cancel', cancel_event_path, class: "card-link" %>
      <% else %>
        <%= link_to 'Attend', attend_event_path, class: "card-link" %>
      <% end %>
      </a>
    </div>
  </div>
  <div class="card col mt-3 text-center shadow p-3 mb-5 bg-white rounded" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Attendees</h5>
    </div>
    <ul class="list-group list-group-flush">
      <% if @event.attendees.empty? %>
      <li class="list-group-item text-muted">This event has no attendees yet</li>
      <% else %>
      <% @event.attendees.each do |attendee| %>
        <li class="list-group-item"><%= attendee.name %></li>
      <% end %>
      <% end %>
    </ul>
  </div>
  </div>
</div>
